<table style="width: 450px; font-size: 10pt; FONT-FAMILY: Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0" class="ng-scope">
  <tbody>
      <tr>
          <td style="width: 102px; font-size: 10pt; font-family: Arial, sans-serif; border-right: 1px solid #000000; vertical-align: top;" align="center" valign="middle">
              <!-- ngIf: showField('photo') -->
              <a href="https://www.jmdgroup.co.uk/" target="_blank"><img ng-if="showField('photo')" ng-src="https://mediax.co.in/signature/logo.png" alt="photograph" width="150" border="0" style="border:0; height:auto; width:130px" class="ng-scope" src="https://mediax.co.in/signature/logo.png"></a> 
              <a href="https://vitavero.eu/" target="_blank"><img ng-if="showField('photo')" ng-src="https://mediax.co.in/signature/Sore_logo.png" alt="photograph" width="150" border="0" style="border:0; height:auto; width:65px" class="ng-scope" src="https://mediax.co.in/signature/Sore_logo.png"></a> 
              <a href="https://ultraonline.co.uk/" target="_blank"><img ng-if="showField('photo')" ng-src="https://mediax.co.in/signature/vector-logo.png" alt="photograph" width="150" border="0" style="border:0; height:auto; width:65px" class="ng-scope" src="https://mediax.co.in/signature/vector-logo.png"></a> 
              <!-- end ngIf: showField('photo') --> 
              <!-- end ngIf: showField('logo') -->
              <!-- ngIf: showField('website') --><span ng-if="showField('website')" style="FONT-FAMILY: Arial, sans-serif; font-size: 9pt; line-height: 12pt;" class="ng-scope">
                <!-- <br>
                <span style="font-size: 9pt;  line-height: 12pt; color:#000000; FONT-FAMILY: Arial, sans-serif;"> <a href="https://www.jmdgroup.co.uk/" target="_blank" style="color:#000000; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#000000; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">www.jmdgroup.co.uk</span></a></span>
            </span> -->
            <!-- end ngIf: showField('website') -->
              
          </td>
          <td style="width: 10px;"></td>
          <td style="width: 243px; font-size: 10pt; color:#444444; font-family: Arial, sans-serif; vertical-align: top;" valign="top">
              <p style="margin-bottom: 18px;">
                  <strong>
                      <span style="font-size: 10pt; font-family: Arial, sans-serif; color:#E21C21; margin-top: 0 !important;" class="ng-binding">Varun Kumar Rishi<br></span>
                      <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-family: Arial, sans-serif; font-size:10pt; font-style: italic; color:#999999;" class="ng-binding ng-scope">Managing Director<br></span><!-- end ngIf: showField('title') -->
                      <!-- ngIf: showField('company') -->
                  </strong>
              </p>
              <p style="FONT-FAMILY: Arial, sans-serif; padding: 0px; font-size: 9pt; line-height: 12pt; margin-bottom: 0;">
                  <!-- ngIf: showField('phone') -->

                  <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" class="ng-scope">
                      <span style="font-size: 9pt; color: #E21C21;"><strong>Mobile:</strong></span>
                      <span style="font-size: 9pt; color:#000000;" class="ng-binding"> +44 (0) 2085712444</span>
                  </span><!-- end ngIf: showField('mobile') -->            
              
                  <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="FONT-FAMILY: Arial, sans-serif; font-size: 9pt; line-height: 12pt;" class="ng-scope">
                      <br>
                      <span style="font-size: 9pt;  line-height: 12pt; color: #E21C21;"><strong>Email:</strong></span>
                      <a href="mailto:vkr@jmdgroup.uk" style="font-size: 9pt; color:#000000; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#000000; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">vkr@jmdgroup.uk</span></a>
                      <br>
                      <span style="font-size: 9pt;  line-height: 12pt; color: #E21C21;"><strong>Offices:</strong></span>
                      <a href="mailto:vkr@jmdgroup.uk" style="font-size: 9pt; color:#000000; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#000000; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">UK | India | Netherlands | Texas</span></a>
                      <br>
                      <span style="font-size: 9pt;  line-height: 12pt; color: #E21C21;"><strong>Website:</strong></span>
                      <a href="https://www.jmdgroup.co.uk/" target="_blank" style="font-size: 9pt; color:#000000; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#000000; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">www.jmdgroup.co.uk</span></a>
                  </span><!-- end ngIf: showField('email') -->
              </p>
              
              <p style="margin-bottom: 14px;">
                  <!-- ngIf: showField('facebookURL') --><!-- ngIf: showField('twitterURL') --><!-- ngIf: showField('youtubeURL') --><!-- ngIf: showField('linkedinURL') --><!-- ngIf: showField('instagramURL') --><!-- ngIf: showField('pinterestURL') -->
              </p>
              <!-- ngIf: isAnyFieldEntered('address1, address2') -->
              
          </td>
      </tr>  
      <!-- ngIf: showField('banner') --><tr ng-if="showField('banner')" style="width: 450px;" class="ng-scope">
          <td colspan="3" style="padding-top:14px">
              <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.jmdgroup.co.uk/" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://mediax.co.in/signature/image.gif" alt="Banner" width="450" style="width:450px; height:auto; border:0;" src="https://mediax.co.in/signature/image.gif"></a><!-- end ngIf: showField('bannerURL') -->
                  <!-- ngIf: !showField('bannerURL') -->
          </td>
      </tr><!-- end ngIf: showField('banner') -->
      
  </tbody>
</table>